.empty-list {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  color: var(--ion-color-medium);
}

//*********************************
.task-list-header {
	font-style: italic !important;
	font-weight: bold !important;
}
//*********************************