<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="end">
			<!-- <ion-button (click) = "presentAlert()" [routerLink]="['/new-task']"> -->
			<ion-button (click)="presentAlert()">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Tasks List</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
	<div *ngIf="items.length > 0" class="list-mini">
		<ion-list>
			<!-- change  -->

			<!-- ********************************* -->
			<ion-item-sliding>
					<ion-item class="task-list-header">
						<ion-label>Task Name</ion-label>
						<ion-label>Duration (mins)</ion-label>
						<ion-label>Priority</ion-label>
					</ion-item>
			</ion-item-sliding>
			<!-- ********************************* -->

			<ion-item-sliding *ngFor="let item of items">

				<!-- ********************************* -->
				<!-- <ion-item> -->
				<!-- ********************************* -->
				<ion-item #itemEntry [attr.item-id]="[item.payload.doc.id]">
				<!-- ********************************* -->

					<!-- <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
		</ion-thumbnail> -->

					<!-- ********************************* -->
					<!-- <ion-label>{{item.payload.doc.data().taskName}}</ion-label>
					<ion-label>{{item.payload.doc.data().duration}}</ion-label>
					<ion-label>{{item.payload.doc.data().priority}}</ion-label> -->
					<!-- ********************************* -->
					<ion-label class="ion-text-wrap">{{item.payload.doc.data().taskName}}</ion-label>
					<ion-label class="ion-text-wrap">{{item.payload.doc.data().duration}}</ion-label>
					<ion-label class="ion-text-wrap">{{item.payload.doc.data().priority}}</ion-label>
					<!-- ********************************* -->
					
				</ion-item>

				<ion-item-options side="end">
					<!-- ********************************* -->
					<!-- <button ion-button (click)="delete()" [routerLink]="[item.payload.doc.id]"> -->
					<!-- ********************************* -->
					<button ion-button (click)="delete(itemEntry)">
					<!-- ********************************* -->
						<ion-icon name="trash"></ion-icon>Delete
					</button>
				</ion-item-options>

			</ion-item-sliding>
		</ion-list>
	</div>
	<div *ngIf="items.length == 0" class="empty-list">
		Please create your first task.
	</div>
</ion-content>
<ion-footer (click)="logout()">
	<ion-toolbar color="medium">
		<ion-title>Log out</ion-title>
	</ion-toolbar>
</ion-footer>